KINGS = ['KINGSUG', 'KINGSPG', 'KINGS']
JWT_ALGORITHM = 'HS512'
JWT_KEY = "{D{UX+6VMT%ADK6-8,uSpWdu+eE/w?o)v2tW_x*a>LSsGyh`Iy8GmJiBU4\/;ye"
QPAY_URL = "/test_response"
PID_FILE = "/home/jyy24/bjoern.pid"
STDOUT_LOG = "/home/jyy24/bjoern_stdout.log"
STDERR_LOG = "/home/jyy24/bjoern_stderr.log"
